body {
    background-color: #F6F5F5;
    margin: 0; 
    font-family: 'Rubik', sans-serif;
}

hr {
    margin: 30px auto;
    border-color: #3F72AF;
    border-style: none;
    border-top-style: solid;
    border-width: 5px;
    width: 10%;
    clear: right;
}

.ship-logo {
    width: 250px;
    height: 250px;
}

.title-div {
    background-color: #D3E0EA;
    text-align: center;
    color: #112D4E;
    border-width: 0;
    position: relative;
    padding: 20px 50px 50px 50px;

}

.title-div h1 {
    font-family: 'Fondamento', cursive;
    font-size: 4em;
    margin: 0;
    font-weight: bold;
}

h2 {
    margin-bottom: 0;
    font-size: 1.1em;
    padding-top: 10px;
    font-weight: bold;
}

.details-div {
    text-align: left;
    color: black;
    padding-left: 28%;
    padding-right: 28%;
    padding-top: 50px;
    padding-bottom: 20px;
    border-width: 0;
    font-size: 0.9em;
}

.link-describe {
    font-weight: bold;
}

h3 {
    color: black;
    font-weight: bold;
}

.details-div h3 p {
    margin-left: 250p;
}

.bottom-div {
    text-align: center;
    color: white;
    background-color: #3F72AF;
    padding: 40px 0 20px;
    font-size: 0.8em;

}

